header{
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.23);
}

footer{
    background-color: rgba(75, 63, 63, 0.23);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

footer p{
    margin: 0;
    text-align: center;
}

li i{
    font-size: 20px;
}

ul.messages {
    padding: 0;
}

ul.messages li {
    list-style: none;
}


.pagination{
    margin-bottom: 20px;
}

.step-links{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

form.btn-success{
    width: 100px !important;
}