{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="">
        <h1>Lista de Tarefas</h1>
        <div class="py-4 d-flex gap-5 justify-content-between">
            <a href="{% url 'create_task' %}" class="btn btn-secondary">+ Adicionar Tarefa</a>
            <div class="input-group w-75">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
        </div>
        <ul class="list-group list-group-flush">
            {% for task in tasks %} 
            <li class="list-group-item d-flex justify-content-between fs-4">
                <a href="{% url 'task_view' task.id %}" class="link-dark link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{task.title}}</a> 
                <div class="d-flex gap-2 justify-content-center align-items-center">
                    <i class="fa-solid fa-pen-to-square" style="color: #7a7429;"></i>
                    <i class="fa-solid fa-trash" style="color: #fc0303;"></i>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}